/* START: FONT */
/*.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* END: FONT */
/* START: BODY */
body {
  background-color: black;
}

/* END: BODY */
/* START: NAVBAR */
li, ul, a:not(#apply-email, .buttons>*), .navbar, .nav-link, .navbar-nav {
  text-decoration: none !important;
  color: white !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
}
.dropdown:hover .dropdown-menu {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}
.inquiries-item:hover {
  background-color: rgba(203, 203, 203, 0.569);
}
.btn:not(.buttons>*) {
  border: none;
  margin: 1rem 0.5rem 1rem 0.5rem;
}
.navbar-toggler span  {
  position: flex;
  padding-top: -10px;
  padding-left: -10px;
}
.disabled:not(#inquiries-li>*) {
  opacity: 0.8;
}
#navbarSupportedContent {
  margin-right: 4rem;
}
/* END: NAVBAR */
/* START: BG IMAGE */
.masthead {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding-top: 3rem;
  background-position: right top;
  background-image: url('buildingImg/bethesdaAve_maxres/4747-Bethesda-06.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  image-resolution: from-image;
  position: relative;
}
.h4 {
  opacity: 0.8;
  margin-top: auto;
}
#image-credit > .d-flex {
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}
#image-credit > div > p {
  font-size: 12px;
  margin-right: 6rem;
}
@media screen and (min-width: 992px) {
  .masthead-message {
    justify-content: start;
  }
  /* #practice-li {
    padding-left: 40vw;
  } */
  #home-li {
    justify-content: flex-start;
  }
  .nav-webpages {
    justify-content: flex-end;
  }

}
@media screen and (max-width: 991.98px){
  .masthead-message {
    justify-content: center;
  }
  .footer > .d-flex {
    flex-wrap: nowrap;
  }
  #image-credit > div > p {
    font-size: 9px;
    margin-right: 0.5rem;
  }
}
.form-container {
  margin-top: 10rem;
}
/* END: BG IMAGE */
/* START: MISSION */
.mission {
  padding-top: 10rem;
  padding-bottom: 5rem;
  }
  .mission-statement {
    padding-bottom: 2rem;
  }
.images-container {
  padding-bottom: 10rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
} 
.img-thumbnail {
  border: 0;
  background-color: black;
  padding: 0;
}
/* END: MISSION */
/* START: CAREER.HTML JOB DESCRIPTION */
.career-description > b {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
/* END: CAREER.HTML JOB DESCRIPTION */
/* START: CAROUSEL */
#works {
  padding-top: 5rem;
}
.carousel-item img {
    height: 500px;
}
.sr-only, #carouselWorks > ol > li {
  display: none;
}
.carousel-inner > .carousel-item {
  max-width: 1300;
  max-height: 700px;
}
.carousel-item {
  transition-duration: 2s;
}
.transform {
  transition: 5s ease-out 5s ease-in ease-in-out;
  opacity: 100%;
}
.carousel-fade {
  transition-duration: 1.5s;
}
.carousel-item > img {
  object-fit: cover;
}
.carousel-control-prev, .carousel-control-next {
  opacity: 1 !important;
} 
/* END: CAROUSEL */
/* START: FOOTER */
footer {
  bottom: 0;
  height: 2.5rem;
  width: 100%;
}
footer > .row > .col > .text-light {
  opacity: 0.7 !important;
  text-shadow: none;
}
/* END: FOOTER */