.news-item {
    margin-top: 4rem;
}
/* .bg-image {
    background-image: url('/Users/elisecarlson/coding/demo-architect-website/peopleImg/peopleColor.jpeg');
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    image-resolution: from-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.practice-text, .people-text, .news-text {
    background-color: rgb(0, 0, 0);
    padding-bottom: 2rem;
}
#ourPractice {
    text-align: center;
    padding-top: 3rem;
}
h1 {
    padding-top: 1.5rem;
}
/* .groupImg {
    width: 100%;
    height: auto;
    max-width: 400px;
    padding-bottom: 4rem;
    display: flex;
    margin: auto;
} */
#peopleImg, #practiceImg {
    width: 100%;
    height: auto;
    max-width: 600px;
    
}
@media screen and (min-width: 992px) {
    #imgCol {
        padding-right: 2rem;
        float: right;
    }
    #peopleImg, #practiceImg {
        margin-left: auto;
    }
}
@media screen and (max-width: 991.98px) {
    #imgCol {
        display: flex;
    }
    #peopleImg, #practiceImg {
        margin: auto;
        padding-bottom: 2rem;
    }
}
.textCol {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    
}
#peopleTextCol {
    justify-content: center;
}