
@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }

    html, body {
        height: 100%;
        max-height: 100%;
        width: 100%;
    }
    /* .dev {
        border: 1px;
        border-color: black;
        border-style: solid;
    } */
    body {
        line-height: 1.75rem !important;
    }
    /* .container-fluid {
        padding: 0;
        margin: 0 !important;
    } */
    .backgroundImg {
        background-image: url("/Users/elisecarlson/coding/demo-architect-website/buildingImg/b6.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    #website-coming-soon {
        padding-top: 75px;
        padding-left: 35px;
        opacity: 0.75;
    }
    .navbar {
        background-color: rgba(0, 0, 0, 0.6);
    }
    #navSDG {
        background: none;
    }
    .carousel-item img {
        height: 500px;
    }
    .mission {
        padding-top: 7%;
        padding-bottom: 2%;
    }
    .mission > .mission-statement, .mission-text {
        text-align: center;
        color: black !important;
    }
    .images-container {
        padding-bottom: 10rem;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    @media (max-width: 575px) {
        .img-fluid {
            display: none;
        }
      }
    .carousel-inner > .carousel-item {
        max-width: 1300;
        max-height: 700px;
      }
    .carousel-item > img {
        object-fit: cover;
    }
    #footer {
        background-color: rgba(0, 0, 0, 0.6);
    }
    #footer > .footer-row > .footer-col > a, p, address {
        color: white;
    }
}